<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="false">
    <listener>
        <listener-class>pl.app.wardrobe.configuration.listener.DataSourceCreation</listener-class>
    </listener>
    <listener>
        <listener-class>pl.app.wardrobe.configuration.listener.ServiceCreation</listener-class>
    </listener>
    <listener>
        <listener-class>pl.app.wardrobe.configuration.listener.ControllersCreation</listener-class>
    </listener>
    <listener>
        <listener-class>pl.app.wardrobe.configuration.listener.InitializedData</listener-class>
    </listener>
    <context-param>
        <param-name>avatarsPath</param-name>
        <param-value>../../../../../../src/avatars</param-value>
    </context-param>

</web-app>